<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/userinfo.email&access_type=offline&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri=<%= callback_url %>&response_type=code&client_id=<%= client_id%>">Google</a>
<table>
    <tr>
        <td>Access token:</td>
        <td><%= db.access_token%></td>
    </tr>
    <tr>
        <td>Refresh token:</td>
        <td><%= db.refresh_token %></td>
    </tr>
    <tr>
        <td>ID token:</td>
        <td><%= db.id_token%></td>
    </tr>
    <tr>
        <td>Token type:</td>
        <td><%= db.token_type %></td>
    </tr>
    <tr>
        <td>Expires in:</td>
        <td><%= db.expires_in %></td>
    </tr>
</table>

<h3>User data:</h3>
<table>
    <tr>
        <td>ID</td>
        <td><%= user_data.sub %></td>
    </tr>
    <tr>
        <td>E-mail</td>
        <td><%= user_data.email %></td>
    </tr>
    <tr>
        <td>Picture</td>
        <td><img src="<%= user_data.picture%>"></td>
    </tr>
</table>
</body>
</html>